{% extends 'base.html.twig' %}
{% block title 'Agence Lorem ipsum' %}
{% block body %}
    <div class="jumbotron text-center">
            <h1>Agence Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut esse est itaque maiores neque quia quidem quo repellat
                tempora ullam? Culpa deleniti illo natus possimus provident quasi soluta unde velit?
            </p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
{#                            <div class="text-primary">{{ property.price | number_format(0, '', ' ') }} €</div>#}
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
